<div id='user-logout' style='display:none'>
  <strong>Bienvenido</strong>
  <%= link_to "Cerrar sesión", destroy_user_session_path, :class => "loginout" %>
</div>

<div id='user-login' style='display:none'>
  <%= link_to "Iniciar sesión", login_path, :id => "customer_login_link", :class => "loginout"  %>
</div>
